<html>
<head>
	<meta charset="UTF-8">
	<title>{{ json.Client }}</title>
	<script src="/dist/js/frontend.js"></script>
	<link rel="stylesheet" type="text/css" href="/dist/css/style.css">
</head>
	<div class="banner-header">
		<h1>{{ json.Client }}</h1>
		<h2>{{ json.Campaign }}</h1>
	</div>
	
	<div class="banner-nav">
		<ul>
			{{#each json.banners}}
				<li>
					<a class="btn" href="./?view={{this}}">{{this}}</a>
				</li>
			{{/each}}
		</ul>
	</div>
	<div class="banner-container">
		<h1 class="select-message">{{json.message}}</h1>
		<iframe class="banner" id={{json.view}} height={{json.h}} width={{json.w}} src={{json.path}}></iframe>

	</div>
</html>