<html>
<head>
	<meta charset="UTF-8">
	<title>{{ json.Client }}</title>
	<script src="/js/frontend.js"></script>
</head>
	<h1>{{ json.Client }}</h1>
	<h2>{{ json.Campaign }}</h1>
	<ul>
		{{#each json.banners}}
			<li>
				<a onClick="showBanner('{{@key}}')">{{@key}}</a>
			</li>
		{{/each}}

		{{#each json.banners}}
			<iframe class="banner" style="position:absolute;display:none" id={{@key}} height={{this.height}} width={{this.width}} src={{this.path}}></iframe>
		{{/each}}
	</ul>
</html>